{% extends "studenthome.html" %}
{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     

    {% block content1 %}
        <h1 style="text-align: center;color:wheat;background-color: chocolate;"> EDIT STUDENT</h1>

<div class="container" style="text-align: center;" >
    <form action="/updatestudent/{{view.id}}" method="post">
      {% csrf_token%} 
      <input type="text" name="firstname"  id="" value="{{data.first_name}}" ><br> <br>
      <input type="text" name="lastname"  id="" value="{{data.last_name}}"><br> <br>
      <input type="email" name="email"  id="" value="{{data.email}}"><br> <br>
      <input type="text" name="address"  id="" value="{{data.address}}"><br> <br>
      <input type="number" name="phonenumber"  id="" value="{{data.phone_number}}"><br> <br>

      <input type="text" name="guardian"  id="" value="{{view.guardian}}"><br> <br>


    
        <button type="submit"  name="submit" class="btn btn-outline-primary">submit</button>

    </form>
</div>
{% endblock content1 %}

  {% block content3 %}
  {% endblock content3 %}


</body>
</html>

