{% extends "teacherhome.html" %}
{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


{% block content1 %}


       <section id="hero" class=" light-background">
<div class="container mt-5"  >
            <h1 style="text-align: center;color:wheat;background-color: chocolate;">VIEW STUDENT</h1>

     <table class="table table-bordered">       
       <tr>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
             <th>ADDRESS</th>
            <th>EMAIL </th>
            <th>PHONE NUMBER</th>
            <th>GUARDIAN</th>
           
        </tr>
        {% for i in  view %}
        <tr>
          <td>{{i.Student_id.first_name}}</td>
          <td>{{i.Student_id.last_name}}</td>
          <td>{{i.Student_id.address}}</td>
          <td>{{i.Student_id.email}}</td>
          <td>{{i.Student_id.phone_number}}</td>
          <td>{{i.guardian}}</td>
         
        </tr>
         {% endfor %}
    </table>
{% endblock content1 %}
  {% block content3 %}
  
  {% endblock content3 %}

</body>
</html>